* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #f6f8ff;
    overflow: hidden;
}
.App {
    width: max-content;
    height: max-content;
    padding: 56px;
    margin: 0px auto;
}
@media screen and (max-width: 412px) {
    .App {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 56px 0;
    }
}
.notAvailable {
    opacity: 0.45;
    pointer-events: none;
}
.gitHubUserSearcher {
    height: 100vh;
}
.gitHubUserSearcher_DARK {
    height: 100vh;
    background-color: #141d2f;
}
.gitHubUserSearcher_DARK p,
.gitHubUserSearcher_DARK h1,
.gitHubUserSearcher_DARK span,
.gitHubUserSearcher_DARK a,
.gitHubUserSearcher_DARK input {
    color: #fff !important;
}

.gitHubUserSearcher_DARK .searchResult {
    background: #1e2a47;
    box-shadow: 0 0 0 0;
}

.gitHubUserSearcher_DARK .userProfile .bio,
.gitHubUserSearcher_DARK .joinedDate p {
    color: #fff !important;
}
.gitHubUserSearcher_DARK .company .companyTitle .companiInfo {
    background-color: #0079ff !important ;
}

.gitHubUserSearcher_DARK .audience {
    background: #141d2f !important;
    color: #fff !important;
}

.gitHubUserSearcher_DARK .searchWrapper {
    background: #1e2a47;
    box-shadow: 0 0 0 0;
}
.gitHubUserSearcher_DARK .dataWrapper {
    background-color: #1e2a47 !important;
}
.gitHubUserSearcher_DARK .SearchResult .audienceWrapper .content {
    background-color: #141d2f;
    color: #fff;
}
.gitHubUserSearcher_DARK .SearchResult .audienceWrapper .content h3 {
    color: #fff;
}
@font-face {
    font-family: "SpaceMono";
    src: url("./assets/SpaceMono-Bold.ttf");
}
