*{
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background: #F6F8FF;
}
.App{
  width: max-content;
  height: max-content;
  padding: 56px;
  margin: 0px auto;
}
.gitHubUserSearcher{
  height: 100vh;
}.gitHubUserSearcher_DARK{
  height: 100vh;
  background-color: #141D2F;
}
.gitHubUserSearcher_DARK p , .gitHubUserSearcher_DARK h1 {
  color: #FFF;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('./assets/SpaceMono-Bold.ttf');
}

